<h3> Black IronHack UX Grading Instructions </h3>
<div>
  <p> <strong> Problem: VIRUS & DISEASE TRACKER: Track disease probability through movement and geography </strong> </p>
  <p>"VIRUS & DISEASE TRACKER: Track disease probability through movement and geography"

    Diseases and viruses are common in the U.S. media landscape and public mindset. Therefore, public awareness and knowledge tends to be tainted by the media’s fear-filled reports. News about the Zika virus is a perfect example for that. The Black Iron Hack’s aim is to support citizens from the state of Indiana, particularly in the Lafayette area, in making more informed decisions for travel inside the U.S. by providing them with information about the current state, spread, and risk of a virus and disease - using open data with insights into viruses in the U.S. (e.g. data from the Center for Chronic Disease Control and Prevention (CDC)) and mapping virus presence with respects to environment and travel conditions.

    Your friends invite you to go on trip to Florida, but some say that they wouldn't go because they're afraid of getting infected by a virus they heard on the news this morning. However, some other friends insist that "it depends on how you go there and where you go exactly" and "nothing is going to happen to anyone!". Wouldn't it be great to have a Web App to explore the potential spread and risks of contracting viruses and disease in the area you are planning to travel to? Indeed, there are so many factors that affect the risk of viral infection such as the types of viruses, the number of people affected in the area, the geography and landscape of the area (mountains, lakes, and plains, mosquitos transmitting it), social interaction intensity (e.g. because of high population density, high traffic), the way you are planning to get to your destination, much more. If you had such an app, you could optimize your travel decisions based on accurate data of potential risks.

    TASK:

    Develop a website with a mashup that can help individuals make more informed decisions and better act upon the news they receive.
    The website should optimize the value for the consumer in evaluating her/his travel options relative to the virus presence and whether it is safe.
    Examples of features: “safety scale”, risk scale, integration with Google Maps/Open Maps, type of land, type of environment, "impact Scale", etc.</p>

  <strong>Evaluation Criteria:</strong>
  <br/>
  <br/>
  <p><strong>PART 1: YES/NO:</strong> Does the system in its current status serve this particular user need (a specific functionality) or not?</p>
  <p><strong>PART 2 (all) and 3 (quality of execution): Heuristic evaluation (adapted from Nielson, 1995) </strong></p>
  <p>0 = NO ISSUE: I don't agree that this is a problem at all</p>
  <p>1 = COSMETIC PROBLEM ONLY: need not be fixed unless extra time is available on project</p>
  <p>2 = USABILITY PROBLEM: This problem (functional or design) should be fixed to better usbaility and ease of use</p>
  <p>3 = USABILITY CATASTROPHE: Imperative to fix this before product can be released</p>
  <p>If no visual representation exists for a listed data set, please insert <strong>N/A.</strong></p>

  <strong>PART 3: Relevance evaluation (1st column only. Use the Part 2 scale for Qaulity of Data Set Execution)</strong>
  <br/>
  <br/>
  <p>0 = Extremly relevant (i.e., should not do without)</p>
  <p>1 = Relevant (i.e., helpful and adds value)</p>
  <p>2 = Applicable (i.e., ok, but does not add much value)</p>
  <p>3 = Irrelevant (i.e., can be excluded)</p>

  <strong>Mandatory datasets:</strong>
  <br/>
  <br/>
  <p>Climate Data Online: http://catalog.data.gov/dataset/climate-data-online-cdo</p>
  <p>One additional data set from data.gov, data.indy.gov and https://chronicdata.cdc.gov/</p>
  <strong>The features of Google map (i.e., not novel features): </strong>
  <br/>
  <br/>
  <p><strong>https://support.google.com/gmm/answer/3131595?hl=en</strong></p>
  <p>See and hear turn-by-turn directions using Navigation</p>
  <p>Get driving, transit, biking, and walking directions</p>
  <p>Explore a neighborhood at street level, walk inside certain stores, and see maps created by other people</p>
  <p>Search for a place or business nearby</p>
  <p>Sign in to customize your map</p>
  <p>View maps offline</p>
  <p>Share your opinion about the places you visit with reviews and ratings</p>
</div>
