<h3> Bogota IronHack InfoVis Usability Grading Instructions </h3>
<div>
  <strong>User Scenario / Problem Statement:</strong>
  <p>
    Imagine you’re moving to Chicago as a new student at University of Illinois, Chicago and have no knowledge about
    the communities and neighborhoods in the town. But you know you want to live in an area that is safe, affordable and
    close to the university.
  </p>

  <strong>Task to hackers:</strong>
  <p>
    Develop a website with a mashup that utilizes open data from data.gov to help students rent houses near the Department of
    Computer Science – University of Illinois, Chicago (41.8708° N, 87.6505° W).
    Your app should optimize the value for the consumer as follows: Highest safety AND within budget AND in feasible distance
    to the University. Use interactive visualizations (map, charts, etc.) to give insights and support optimal decisions.
  </p>

  <strong>(Minimum) functional requirements:</strong>
  <p>
    THREE interactive functions:
    (1) function to find most affordable place close to the university
    (2) function to find safest place close to the university,
    (3) functions to allow the user to compare a range of (more than one) renting options based on several (more than one) decision criteria​.
  </p>

  <strong>Evaluation Criteria for PART 1 "User Needs":</strong>
  <br/>
  <br/>
  <p>
    <strong>YES/NO:</strong> Does the system in its current execution address (MEET) this user needs or not?
  </p>

  <strong>Heuristic evaluation for PART 2 "InfoVis": (Nielson, 1995): </strong>
  <br/>
  <br/>
  <p> 0 = NO ISSUES: There are no usability problems (its fine as it is) </p>
  <p> 1 = COSMETIC PROBLEM: only fix if extra time is available on the project </p>
  <p> 2 = USABILITY PROBLEM: This problem (functional or design) should be fixed </p>
  <p> 3 = USABILITY CATASTROPHE: Imperative to FIX before product can be released </p>

  <strong>Heuristic evaluation for PART 3 “Nolvelty” (DATA THAT HACKER USED) Part: </strong>
  <br/>
  <p>Relevancy: </p>
  <p> 0 = Extremely relevant (i.e., cannot do without)</p>
  <p> 1 = Relevant (i.e., helpful or adds value) </p>
  <p> 2 = Applicable (i.e., ok, but does not add much value) </p>
  <p> 3 = Irrelevant (i.e., can be excluded) </p>

  <br/>
  <p>Quality of Execution: </p>
  <p> 0- There are no design or functional issues in how the dataset has been implemented in the mash up.</p>
  <p> 1-There are cosmetic design issues that do not hinder the value or usability of the data </p>
  <p> 2-There are functional issues where the data cannot support user goals. </p>
  <p> 3-Data is not visible or has major issues (e.g., broken urls, misleading design) that need to be fixed before mashup is launched </p>

  <strong>Mandatory datasets:</strong>
  <br/>
  <br/>
  <p>Choose at least one from our 50 datasets presented in our tutorial</p>
  <p>Climate Data Online: http://catalog.data.gov/dataset/climate-data-online-cdo</p>

  <strong>The features of Google map (i.e., not novel features): </strong>
  <br/>
  <br/>
  <p><strong>https://support.google.com/gmm/answer/3131595?hl=en</strong></p>
  <p><strong>The starting location of the Google map needs to be (41.8708°N, 87.6505°W).</strong>​</p>
  <p>See and hear turn-by-turn directions using Navigation</p>
  <p>Get driving, transit, biking, and walking directions</p>
  <p>Explore a neighborhood at street level, walk inside certain stores, and see maps created by other people</p>
  <p>Search for a place or business nearby</p>
  <p>Sign in to customize your map</p>
  <p>View maps offline</p>
  <p>Share your opinion about the places you visit with reviews and ratings</p>
</div>
