<h3> Gold IronHack UX Grading Instructions </h3>
<div>
  <strong>Task:</strong>
  <br/>
  <br/>
  <p>Develop a website with a mashup that combines Climate Data Online (http://catalog.data.gov/dataset/climate-data-online-cdo), local farmer’s markets data along with weather and seasonal data. You are also encouraged to look at other types of market data such as Walmart, Pay-Less, Aldi, Meijer, etc. to compare regular prices or somehow combine freshness and cheapness – think what would be beneficial to the consumer! The website should optimize the consumers’ choice of the most cost-efficient vegetables by giving them a number of alternatives. Examples of features: ‘freshness scale’, price, list of vendors, integration with Google Maps/Open Maps, distance, comparison of prices etc.</p>
  <strong>Heuristic evaluation:  (Nielson, 1995)</strong>
  <br/>
  <br/>
  <p>0 = I don't agree that this is a usability problem at all</p>
  <p>1 = Cosmetic problem only: need not be fixed unless extra time is available on project</p>
  <p>2 = Usability problem: This problem should be fixed</p>
  <p>3 = Usability catastrophe: imperative to fix this before product can be released</p>
  <strong>Heuristic evaluation for Nolvelty Part</strong>
  <br/>
  <br/>
  <p>0 = Extremly Relevant</p>
  <p>1 = Very Relevant</p>
  <p>2 = Slightly Relevant</p>
  <p>3 = Irrelevant, can be excluded</p>
  <strong>Mandatory datasets:</strong>
  <br/>
  <br/>
  <p>Climate Data Online: http://catalog.data.gov/dataset/climate-data-online-cdo</p>
  <strong>The features of Google map: </strong>
  <br/>
  <br/>
  <p>https://support.google.com/gmm/answer/3131595?hl=en</p>
  <p>See and hear turn-by-turn directions using Navigation</p>
  <p>Get driving, transit, biking, and walking directions</p>
  <p>Explore a neighborhood at street level, walk inside certain stores, and see maps created by other people</p>
  <p>Search for a place or business nearby</p>
  <p>Sign in to customize your map</p>
  <p>View maps offline</p>
  <p>Share your opinion about the places you visit with reviews and ratings</p>
</div>
