<h3> Platzi IronHack InfoVis Usability Grading Instructions </h3>
<div>
  <strong>User Scenario / Problem Statement:</strong>
  <br/>
  <br/>
  <p>
    Imagine you’re moving to New York as a new student at NYU Stern School of Business and have no knowledge
    about the communities and neighborhoods in the town. But you know you want to live in an area that is safe and affordable.
  </p>

  <strong>Task to hackers:</strong>
  <br/>
  <br/>
  <p>
    Develop a website with a mashup that utilizes open data from data.gov to help students
    rent houses near NYU Stern School of Business (40.7291° N, 73.9965° W).
    Your app should optimize the value for the consumer as follows: highest safety AND within budget.
    Use interactive visualizations (map, charts, etc.) to give insights and support optimal decisions.
    You may include additional decision criteria. Here are few ideas: parks and recreation, location of services,
    schools, alternative modes of transportation, street lighting, closeness to highway, crime rates
    and types of crime, closeness to police/fire stations and education, real estate prices, criminal/offender registry.
  </p>

  <strong>(Minimum) functional requirements:</strong>
  <br/>
  <br/>
  <p>
    THREE interactive functions:
    (1) function to find most affordable place close to the university
    (2) function to find safest place close to the university,
    (3) functions to allow the user to compare a range of (more than one) renting options based on several (more than one) decision criteria​.
  </p>

  <strong>Evaluation Criteria:</strong>
  <br/>
  <br/>
  <p>
    <strong>YES/NO:</strong>
    Does the system in its current execution address (MEET) this user need or not?
  </p>

  <strong>Heuristic evaluation: (Nielson, 1995) </strong>
  <br/>
  <br/>
  <p> 0 = NO ISSUE: I don't agree that this is a usability problem at all (its fine as is) </p>
  <p> 1 = COSMETIC PROBLEM ONLY: need not be fixed unless extra time is available on project </p>
  <p> 2 = USABILITY PROBLEM: This problem (functional or design) should be fixed </p>
  <p> 3 = USABILITY CATASTROPHE: Imperative to FIX this before product can be released </p>

  <strong>Heuristic evaluation for Novelty (DATA THAT HACKER USED) Part:</strong>
  <br/>
  <br/>
  <p> 0 = Extremely relevant (i.e., cannot do without)</p>
  <p> 1 = Relevant (i.e., helpful or adds value) </p>
  <p> 2 = Applicable (i.e., ok, but does not add much value) </p>
  <p> 3 = Irrelevant (i.e., can be excluded) </p>

  <strong>Mandatory datasets:</strong>
  <br/>
  <br/>
  <p>Choose at least one from our 50 datasets presented in our tutorial</p>
  <p>Climate Data Online: http://catalog.data.gov/dataset/climate-data-online-cdo</p>

  <strong>The features of Google map (i.e., not novel features): </strong>
  <br/>
  <br/>
  <p><strong>https://support.google.com/gmm/answer/3131595?hl=en</strong></p>
  <p><strong>The starting location of the Google map needs to be (41.8708°N, 87.6505°W).</strong>​</p>
  <p>See and hear turn-by-turn directions using Navigation</p>
  <p>Get driving, transit, biking, and walking directions</p>
  <p>Explore a neighborhood at street level, walk inside certain stores, and see maps created by other people</p>
  <p>Search for a place or business nearby</p>
  <p>Sign in to customize your map</p>
  <p>View maps offline</p>
  <p>Share your opinion about the places you visit with reviews and ratings</p>
</div>
