<h3>Technical Grading Instructions</h3>
<div>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th colspan="3">Bug Type</th>
      <th colspan="3">Bug Name</th>
      <th colspan="3">Description</th>
      <th colspan="3">Level(H for high, M for medium, L for low)</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td colspan="3">HTML</td>
      <td colspan="3">Could not work</td>
      <td colspan="3">The application does not work</td>
      <td colspan="3">H</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Partially work</td>
      <td colspan="3">Some parts of the application do not work</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Layout</td>
      <td colspan="3">The layout is not well designed in different window sizes</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3">CSS</td>
      <td colspan="3">Load error</td>
      <td colspan="3">Fail to load some css codes</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3">Javascript</td>
      <td colspan="3">Load error</td>
      <td colspan="3">Fail to load some javascript codes</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Timeout error</td>
      <td colspan="3">The loading time is too long</td>
      <td colspan="3">L</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Range error</td>
      <td colspan="3">index out of bound</td>
      <td colspan="3">L</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Type error</td>
      <td colspan="3">variable type is incorrect</td>
      <td colspan="3">L</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">URL/URI error</td>
      <td colspan="3">The URL/URI is incorrect</td>
      <td colspan="3">L</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Logic error</td>
      <td colspan="3">The logic of the code is incorrect</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Algorithm error</td>
      <td colspan="3">The results of functions are incorrect</td>
      <td colspan="3">L</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">Internal error</td>
      <td colspan="3">The javascript codes crashes somehow</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="3">other</td>
      <td colspan="3">TBD</td>
      <td colspan="3">M</td>
    </tr>
    <tr>
      <td colspan="3">Broswer</td>
      <td colspan="3">Compatibility</td>
      <td colspan="3">Could not work for some types of browser</td>
      <td colspan="3">M</td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <strong>Links:</strong>
  <br/>
  <br/>
  <p>Google maps: https://www.google.com/maps</p>
  <p>Climate Data Online: http://catalog.data.gov/dataset/climate-data-online-cdo</p>
  <p>Internet Weather Source: http://catalog.data.gov/dataset/internet-weather-source</p>
  <p>Traffic Monitoring Analysis System: http://catalog.data.gov/dataset/travel-monitoring-analysis-system-tmas-national</p>
  <p>Hourly Precipitation Data: http://catalog.data.gov/dataset/u-s-hourly-precipitation-data</p>
  <p>W3 School: http://www.w3schools.com/js/js_best_practices.asp</p>
</div>

<%= link_to 'Back', :back, class: 'btn btn-warning' %>
