<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<h1>Welcome to <%= link_to Rails.application.secrets[:host], Rails.application.secrets[:host], target: '_blank', style: "color:#ff0000;text-decoration: underline;" %></h1>

<p>
  You have successfully signed up to <%= link_to Rails.application.secrets[:host], Rails.application.secrets[:host], target: '_blank', style: "color:#ff0000;text-decoration: underline;" %>
</p>

<p>
  To login to the site, just follow this link:
  <%= link_to "#{@login_url}", "#{@login_url}", target: '_blank', style: "color:#ff0000;text-decoration: underline;" %>
</p>

<p>Thanks for joining and have a great day!</p>

</body>
</html>
