<html>
<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>
<body>
<h3>Purdue IronHack Submission Reminder</h3>
<p>
  The deadline is approaching soon for the <%= @phase %>.
  Please submit your project to github as soon as possible.
</p>
<p>
  Thank you,
</p>
<p>
  IronHack Team
</p>
</body>
</html>
